.favorite{
    font-weight: bold;
}
li{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 130px;
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: grey;
}

span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.favorite{
    background-color: grey;
}
.boton-eliminar{
    border-radius: 20px;
    padding: 10px;
    background-color: red;
    border: 1px solid black;
}
.boton-editar{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.actions{
  display: flex;
  gap: 8px;          
  align-items: center;
}
