<li [class.favorite]= "contact().isFavorite === true">
    <span>{{contact().firstName}} {{contact().lastName}}</span>
    <span>{{contact().number}}</span>
    <span>{{contact().email}}</span>
    <span></span>
    <span class="actions">
      <button class = "boton-eliminar"
      (click)="openDeleteModal()">Borrar</button>
      <a class ="boton-editar"[routerLink]="['/new',contact().id,]">Editar</a>
    </span>

    <span>
      @if (contact().isFavorite === true) {
        ⭐
      }
    </span>
    
  </li>