.favorite{
    font-weight: bold;
}
li{
    justify-content: space-between;
    display: flex;
    margin-left: 300px;
    margin-top: 10px;
    color: white;
    background-color:grey ;
    padding: 20px;
    align-items: center;
}
.favorite{
    background-color: grey;
}

.boton-eliminar{
    border-radius: 20px;
    padding: 10px;
    background-color: red;
    border: 1px solid black;
}
.boton-editar{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.actions{
  display: flex;
  gap: 8px;          
  align-items: center;
}
